body {
  	font-family: Arial;
  }
   .container {
   	width: 50%;
   	border-style: solid;
   	border-width: 4px;
   	border-color: orange;
   } 
   #top {
   	color: green;
   	background-color: lightblue
   	display: flex;
   	justify-content: space-around;
   }
   h2 {
   	font-weight: lighter;
   }
   #bottom {
   	display: flex;
   }
   /*Left column*/
   #left {
   	width: 30%;
   	min-width: 140px;
   	padding-left: 15px;
   	padding-right: 15px;
   	background-color: grey;
   	background-image: linear-gradient (to right, yellow)
   	 }
   	 #picture {
   	 	margin-top: 25px;
   	 	text-align: center;
   	 	margin-bottom: 25px;
   	 }
   	 #picture img {
   	 	max-width: 60%
   	 	border-radius:50%;
   	 	border: 3px solid khaki;
   	 }
   	 h1 {
   	 	font-weight: lighter;
   	 	color: white;
   	 	margin-bottom: 0px;
   	 }
   	 .line-left {
   	 	height: 5px;
   	 	background-color: aqua
   	 }
   	 p.left {
   	 	margin-top: 25px;
   	 	text-align: center;
   	 	color: white;
   	 	text-decoration: underline;
   	 	font-weight: bold;
   	 	font-size: 100%
   	 }
   	 #span-one {
   	 	font-size: 70%
   	 	color: white;
   	 	background-color: lime;
   	 	border-radius: 5px;
   	 	padding-left: 45px;
   	 	padding-right: 45px;
   	 }
   	 #span-two {
   	 	font-size: 70%;
   	 	color: white;
   	 	background-color: indigo;
   	 	border-radius: 5px;
   	 	padding-left: 25px;
   	 	padding-right: 25px;
   	 }
   	 #span-three {
   	 	font-size: 70%;
   	 	color: white;
   	 	background-color: lime;
   	 	border-radius: 5px;
   	 	padding-left: 55px;
   	 	padding-right: 55px;
   	 }
   	 .ul-one {
   	 	list-style: none;
   	 	padding-left: 0px;
   	 }
   	 .ul-two {
   	 	padding-left: 20px;
   	 }
   	 .ul-two li {
   	 	margin-left: 25px;
color: white;
font-size: 110%
   	 }
   	 a {
   	 	color: royalblue
   	 	font-size: 70%;
   	 }
   	 /*Right column*/
   	 #right  {
   	 	width: 70%;
   	 	padding-left: 15px;
   	 	padding-right: 25px;
   	 	color: deepskyblue;
   	 }
   	 #right p {
   	 	margin-top: 10px;
   	 	margin-bottom: 10px;
   	 }
   	 .right-header {
   	 	font-weight: bold;
   	 }
   	 .line-right {
   	 	height: 3px;
   	 	background-color: lime
   	 }
